
<footer class="custom-footer"  id="olivos">

    <div class="flex3-pie" >

        <div  id="informacionpies1" class="fondogris">
            <ul>
                <li> Correo electrónico: viverosuzalgmail.com </li>
                   
                    <li> Numero de contacto : +034623242526 </li>
                   
                    <li>            Redes sociales: <a href="https://www.facebook.com/?locale=es_ES" target="_blank"> <img src="assets/imagenes/footer/facebook.png"
                                                      alt=""  height="35px" width="35px"></a> &nbsp; 
                                                    <a href="https://www.instagram.com/" target="_blank"><img src="assets/imagenes/footer/instagram.png" 
                                                      alt=""height="35px" width="35px"></a> 
                    </li>
                    <li>            Fecha actual: {{ fechaActual }}</li>
        
            </ul>
        </div>
        <div  id="informacionpies2" class="fondogris">
            <ul>
            <li>            Horario: <br>
                <span id="horario"> LUNES A VIERNES<br>
                 <span id="horario2">   08:30-14:00//15:00-18:30</span><br>
                  <span id="horario2"> 07:30-14:00 (Julio y Agosto)</span> <br>
                </span>
                <span id="horario">
                SABADOS Y DOMINGOS<br>
                   <span id="horario2"> 09:30-14:00</span>
                </span></li>
        
            </ul>

        </div>
        <div>
                    <p id="mapa">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1014.3547594434585!2d-3.7189093655283814!3d40.37273250236754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4227a0c76de045%3A0xb86372c70d662304!2sIES%20P%C3%ADo%20Baroja!5e0!3m2!1ses!2ses!4v1698498355561!5m2!1ses!2ses" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
                    
        </div>

    </div>
    
        <div class="custom-footer-info p-3" id="copy">
            © 2024 Copyright:
            <span class="custom-footer-text">VIVEROS UZAL</span>
        </div>

</footer>